# Jekyll生成物
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# バンドラー関連
.bundle/
vendor/

# macOS関連
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# エディタ関連
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
